/* MY DEFAULT */
body {
    /* Font Styles */
    font-family: var(--font-family-main);
    font-style: var(--font-style-normal);
    line-height: var(--line-height-normal);

    /* Color */
    background: var(--background-color-neutral);

    /* Layout */
    /* overflow-x: hidden; */
}

h1 {
    /* Font Styles */
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-extra-bold);

    /* Color */
    color: var(--color-primary-main);
}

h2 {
    /* Font Styles */
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-extra-bold);
    line-height: var(--line-height-l);

    /* Color */
    color: var(--color-neutral-white);
}

h3 {
    /* Font Styles */
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-extra-bold);

    /* Color */
    color: var(--color-primary-main);
}

p {
    /* Font Styles */
    font-size: var(--font-size-m-1);
    font-weight: var(--font-weight-m);
    line-height: var(--line-height-m-1);

    /* Color */
    color: var(--color-neutral-gray);
}

a {
    text-decoration: none;

    /* Font Styles */
    font-size: var(--font-size-m-2);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m-2); 

    /* Micro-interaction */
    transition: all .2ms;
    cursor: pointer;
}
  
button {
    /* Button Style Reset */
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}