/* MY DEFAULT */
body {
    /* TEXT */
    font-family: var(--font-family-main);
    font-style: var(--font-style-normal);
    line-height: var(--line-height-normal);
    /* APPEARANCE */
    background: var(--background-color-neutral);
}

h1 {
    /* TEXT */
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-extra-bold);
    /* APPEARANCE */
    color: var(--color-primary-main);
}

h2 {
    /* TEXT */
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-extra-bold);
    line-height: var(--line-height-l);
    /* APPEARANCE */
    color: var(--color-neutral-white);
}

h3 {
    /* TEXT */
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-extra-bold);
    /* APPEARANCE */
    color: var(--color-primary-main);
}

p {
    /* TEXT */
    font-size: var(--font-size-m-1);
    font-weight: var(--font-weight-m);
    line-height: var(--line-height-m-1);
    /* APPEARANCE */
    color: var(--color-neutral-gray);
}

a {
    /* TEXT */
    font-size: var(--font-size-m-2);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m-2); 
    text-decoration: none;
    /* ANIMATION */
    transition: all .2ms;
    /* APPEARANCE */
    cursor: pointer;
}
  
button {
    /* Button Style Reset */
    
    /* LAYOUT */
    /* Padding */
    padding: 0;
    /* TEXT */
    font: inherit;
    /* APPEARANCE */
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}