body {
    /* Font Styles */
    font-family: ;
    font-style: ;
    background-color: ;
    
    /* Flexbox */
    display: ;
    justify-content: ;
    align-items: ;

    /* Whitespace */
    padding: ;
}