.course {
    /* Flexbox */
    display: flex;
    flex-direction: column;

    /* Position */
    position: relative;

    /* Box Styles */
    border-radius: var(--border-radius-m);
    background-color: var(--color-neutral-white);
    box-shadow: var(--box-shadow-step-1);

    /* Whitespace */
    /* padding: 56px 28px 32px; */
    /* padding: 64px 32px 40px; */

    /* 56px → 64px */
    padding-top: clamp(3.50rem, calc(3.32rem + 0.75vw), 4.00rem);   
    /* 28px → 32px */
    padding-right: clamp(1.75rem, calc(1.66rem + 0.38vw), 2.00rem); 
    /* 28px → 32px */
    padding-left: clamp(1.75rem, calc(1.66rem + 0.38vw), 2.00rem); 
    /*32px → 40px */
    padding-bottom: clamp(2.00rem, calc(1.82rem + 0.75vw), 2.50rem); 
}

.course h2 {
    /* Font Styles */
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-extra-bold);

    /* Color */
    color: var(--color-primary-main);

    /* Whitespace */
    /* 16px → 24px */
    margin-bottom: clamp(1.00rem, calc(0.82rem + 0.75vw), 1.50rem); 
}

.course p {
    /* Font Styles */
    font-size: var(--font-size-m-1);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-m-1);

    /* Color */
    color: var(--color-neutral-gray);

    /* Whitespace */
    margin-bottom: 1.5rem;
}

.course a:where(:link, :visited) {
    /* Font Styles */
    font-size: var(--font-size-m-2);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m-2); 

    /* Color */
    color: var(--color-secondary-main);

    /* Micro-interaction */
    transition: all .2ms;
    cursor: pointer;

    /* Flexbox */
    margin-top: auto;
}

.course a:where(:hover, :active) {
    /* Color */
    color: hsla(341, 92%, 62%, .7);
}

.course img {
    /* Position */
    position: absolute;
    top: -7.5%;
}