.course {
    /* LAYOUT */
    /* Position */
    position: relative;
    /* Flexbox */
    display: flex;
    flex-direction: column;
    /* Padding */
    /* padding: 56px 28px 32px; */
    /* padding: 64px 32px 40px; */
    padding-top: clamp(3.50rem, calc(3.32rem + 0.75vw), 4.00rem); /* 56px → 64px */
    padding-inline: clamp(1.75rem, calc(1.66rem + 0.38vw), 2.00rem); /* 28px → 32px */
    padding-bottom: clamp(2.00rem, calc(1.82rem + 0.75vw), 2.50rem); /*32px → 40px */
    /* APPEARANCE */
    background-color: var(--color-neutral-white);
    box-shadow: var(--box-shadow-step-1);
    /* OTHER */
    border-radius: var(--border-radius-m);
}

.course h3 {
    /* LAYOUT */
    /* Margin */
    margin-bottom: clamp(1.00rem, calc(0.82rem + 0.75vw), 1.50rem); /* 16px → 24px */
}

.course p {
    /* LAYOUT */
    /* Margin */
    margin-bottom: 1.5rem;
}

.course a:where(:link, :visited) {
    /* LAYOUT */
    /* Flexbox */
    margin-top: auto;
    /* APPEARANCE */
    color: var(--color-secondary-main);
}

.course a:where(:hover, :active) {
    /* APPEARANCE */
    color: hsla(341, 92%, 62%, .7);
}

.course img {
    /* LAYOUT */
    /* Position */
    position: absolute;
    top: -7.5%;
}