/* FONT-WEIGHT */
/* DESCRIPTIONS */

/* Header Button */
/* 700 --> 700 | --font-weight-bold */

/* H1 */
/* 800 --> 800 | --font-weight-extra-bold */

/* Paragraph */
/* 500 --> 500 | --font-weight-medium */

/* Hero Button */
/* 700 --> 700 | --font-weight-bold */

/* Card Big */
/* 800 --> 800 | --font-weight-extra-bold */

/* Card Header */
/* 800 --> 800 | --font-weight-extra-bold */

/* Card Paragraph */
/* 500 --> 500 | --font-weight-medium */

/* Card Link */
/* 700 --> 700 | --font-weight-bold */

/* Footer Button */
/* 700 --> 700 | --font-weight-bold */

:root {
    /* normal */
    --font-weight-normal: normal;
    /* 500 */
    --font-weight-medium: 500;
    /* 700 */
    --font-weight-bold: 700;
    /* 800 */
    --font-weight-extra-bold:800;
}