/* COLOR */

:root {
    /* #13183F */
    --color-primary-main: hsla(234, 53%, 16%, 1); 
    /* #666CA3 */
    --color-primary-accent: hsla(234, 25%, 52%, 1); 
    /* #F74780 */ 
    --color-secondary-main: hsla(341, 92%, 62%, 1); 
    /* #FFA7C3 */
    --color-secondary-accent: hsla(341, 100%, 83%, 1); 
    /* #83869A */
    --color-neutral-gray: hsla(233, 10%, 56%, 1); 
    /* #FFFFFF */
    --color-neutral-white: hsla(0, 0%, 100%, 1); 
}   