body {
    /* Font Styles */
    font-family: var(--font-family-main);
    font-style: var(--font-style-normal);
    line-height: var(--line-height-normal);
    /* Layout */
    /* overflow-x: hidden; */
    min-height: 100vh;
    /* Color */
    background: var(--background-color-neutral);
}