.course-area {
    /* Whitespace */
    margin-bottom: clamp(5.00rem, calc(3.68rem + 5.63vw), 8.75rem); /* 80px → 140px */
    /* Custom Properties */
    --flow: clamp(1.88rem, calc(2.72rem + -0.94vw), 2.50rem);   /* 40px → 30px */
    /* Whitespace */
    padding-right: clamp(1.00rem, calc(-2.28rem + 13.99vw), 10.31rem); /* 16px → 165px */
    padding-left: clamp(1.00rem, calc(-2.28rem + 13.99vw), 10.31rem); /* 16px → 165px */
}

.course-area .checkout h2 {
    /* Font Styles */
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-extra-bold);
    line-height: var(--line-height-l);
    /* Color */
    color: var(--color-neutral-white);
    /* Box Styles */
    background: var( --gradient-secondary);
    border-radius: var(--border-radius-m);
    /* Whitespace */
    /* padding: 24px 28px 32px; */
    /* padding: 64px 32px 32px; */
    padding-top: clamp(1.50rem, calc(0.62rem + 3.76vw), 4.00rem);  /* 24px → 64px */
    padding-right: clamp(1.75rem, calc(1.66rem + 0.38vw), 2.00rem); /* 28px → 32px */
    padding-left: clamp(1.75rem, calc(1.66rem + 0.38vw), 2.00rem); /* 28px → 32px */
    padding-bottom: 2rem; /* 32px */
}