.footer-bg {
    /* LAYOUT */
    width: 100%;
    /* APPEARANCE */
    background-color: var(--color-primary-main);
}

footer {
    /* LAYOUT */
    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Padding */
    /* padding: 36px 16px 36px 16px; */
    /* padding: 32px 165px 32px 165px; */
    padding-top: clamp(2.00rem, calc(2.34rem + -0.38vw), 2.25rem); /* 36px → 32px */
    padding-bottom: clamp(2.00rem, calc(2.34rem + -0.38vw), 2.25rem); /* 36px → 32px */
}

footer .logo {
    /* TEXT */
    font-size: var(--font-size-xl-2); /* 28px --> 36px */
    font-weight: var(--font-weight-extra-bold);
    /* APPEARANCE */
    color: var(--color-neutral-white);
}