.hero {
    /* LAYOUT */
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: clamp(2.88rem, calc(0.32rem + 10.89vw), 10.13rem); /* 46px → 162px */
    /* Margin */
    margin-bottom: 66px; /* for only this demo */
    /* Padding */
    /* padding: 0 16px 0 16px; */
    /* padding: 0 165px 0 165px; */
}

.hero-content {
    /* LAYOUT */
    max-width: clamp(21.44rem, calc(18.93rem + 10.70vw), 28.56rem); /* 343px → 457px; */
}

.hero-content h1 {
    /* LAYOUT */
    /* Margin */
    margin-bottom: clamp(1.63rem, calc(1.56rem + 0.28vw), 1.81rem); /* 26px → 29px */
}

.hero-content p {
    /* LAYOUT */
    width: 98%;
    /* Margin */
    margin-bottom: calc(clamp(1.50rem, calc(1.15rem + 1.50vw), 2.50rem) + 3px); /* 24px → 40px */
}

.hero-img {
    /* background-color: red; */
    /* LAYOUT */
    /* Position */
    width: clamp(21.44rem, calc(18.93rem + 10.70vw), 28.56rem); /* 343px → 457px; */
    height: clamp(18.81rem, calc(17.54rem + 5.45vw), 22.44rem); /* 301px → 359px */
}

.hero-img img {
    /* LAYOUT */
    max-width: initial;
    /* Position */
    position: absolute;
    right: -200px;
    top: -100px;
}
