.hero {
    /* Whitespace */
    margin-bottom: clamp(15.63rem, calc(29.40rem + -15.31vw), 25.81rem); /* 413px → 250px */
    /* padding: 0 16px 0 16px; */
    /* padding: 0 165px 0 165px; */
    padding-right: clamp(1.00rem, calc(-2.28rem + 13.99vw), 10.31rem); /* 16px → 165px */
    padding-left: clamp(1.00rem, calc(-2.28rem + 13.99vw), 10.31rem); /* 16px → 165px */

}

.hero h1 {
    /* Font Styles */
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-extra-bold);
    /* Color */
    color: var(--color-primary-main);
    /* Whitespace */
    margin-bottom: clamp(1.63rem, calc(1.56rem + 0.28vw), 1.81rem); /* 26px → 29px */
}

.hero p {
    /* Font Styles */
    font-size: var(--font-size-m-1);
    font-weight: var(--font-weight-m);
    line-height: var(--line-height-m-1);
    /* Color */
    color: var(--color-neutral-gray);
    /* Whitespace */
    margin-bottom: clamp(1.50rem, calc(1.15rem + 1.50vw), 2.50rem); /* 24px → 40px */
}

.hero .button-secondary {
    /* for only this demo */
    /* Whitespace */
    /* margin-bottom: clamp(2.88rem, calc(-1.61rem + 19.15vw), 15.63rem);  */
    /* 46px → 250px */
}

.hero img {
    /* for only this demo */
    /* Whitespace */
    /* margin-bottom: clamp(4.13rem, calc(2.63rem + 6.38vw), 8.38rem);  */
    /* 66px → 134px */
    /* translate: 7px -2px; */
}

.hero img {
    /* Position */
    position: absolute;
    top: 16.50%; /* 432px */
    left: 6%; /* 22px */
}