.hero {
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

    /* Whitespace */
    /* padding: 0 16px 0 16px; */
    /* padding: 0 165px 0 165px; */
    margin-bottom: 66px;

    
}

.hero-content {
    /* Layout */
    /* 343px → 457px; */
    max-width: clamp(21.44rem, calc(18.93rem + 10.70vw), 28.56rem); 
}

.hero-content h1 {
    /* Font Styles */
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-extra-bold);

    /* Color */
    color: var(--color-primary-main);

    /* Whitespace */
    /* 26px → 29px */
    margin-bottom: clamp(1.63rem, calc(1.56rem + 0.28vw), 1.81rem); 
}

.hero-content p {
    /* Layout */
    width: 98%;

    /* Font Styles */
    font-size: var(--font-size-m-1);
    font-weight: var(--font-weight-m);
    line-height: var(--line-height-m-1);

    /* Color */
    color: var(--color-neutral-gray);

    /* Whitespace */
    /* 24px → 40px */
    margin-bottom: calc(clamp(1.50rem, calc(1.15rem + 1.50vw), 2.50rem) + 3px); 
}

.hero-img {
    /* Position */
    position: relative;

    /* Layout */
    width: 457px;
    height: 359px;
}

.hero-img img {
    /* Position */
    position: absolute;
    top: -50%;
    left: 0;
}